<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>人事-组织机构</title>
	</head>
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script type="text/javascript" src="../../js/index.js"></script>
	<link rel="stylesheet" href="../../css/index.css" />
	<link rel="stylesheet" href="../../css/element.css" />
	<style>
		body {
			background-color: #f7f7f7
		}
	</style>

	<body>
		<div id="Structure" style="margin-top: 20px;">
			<el-row :span="24">
				<el-col :span="4" style="font-size: 40px;" :offset="1">
					<span>岗位定义</span>
				</el-col>
				<el-col :span="10" :push="3">
					<el-form :inline="true" class="demo-form-inline">
						<el-form-item label="员工名称" :push="4">
							<el-input placeholder="员工名称" v-model="wenben1"></el-input>
						</el-form-item>
						<el-button type="primary" icon="el-icon-search" @click="SelectByName()">搜索</el-button>
						<el-button type="primary" icon="el-icon-circle-plus-outline" @click="addStructuredialog()">新增</el-button>
						<el-button type="primary" icon="el-icon-delete">修改</el-button>
						<el-button type="primary" icon="el-icon-delete">删除</el-button>
						</el-form-item>
					</el-form>
				</el-col>
			</el-row>

			<el-dialog :title="titleType2" :visible.sync="dialogFormVisible2">
				<el-form :inline="true" :label-position="labelPosition" :model="Employees" class="demo-form-inline">
					<el-form-item label="员工编号">
						<el-input placeholder="员工编号" v-model="Employees.employeeid"></el-input>
					</el-form-item>
					<el-form-item label="员工姓名">
						<el-input placeholder="员工姓名" v-model="Employees.empname"></el-input>
					</el-form-item>
					<el-form-item label="性别">
						<el-select v-model="Employees.esex" placeholder="活动区域">
							<el-option label="女" value="1"></el-option>
							<el-option label="男" value="2"></el-option>
						</el-select>
					</el-form-item>
					<el-form-item label="登录账号">
						<el-input placeholder="登录账号" v-model="Employees.emplogenid"></el-input>
					</el-form-item>
					<el-form-item label="登录密码">
						<el-input placeholder="登录密码" v-model="Employees.emplogepasword"></el-input>
					</el-form-item>
					<el-form-item label="所在部门">
						<template>
							<el-select v-model="Employees.departmentid" placeholder="请选择" @change="SelectPost(Employees.departmentid)">
								<el-option v-for="item in department" :key="item.departmentid" :label="item.depnames" :value="item.departmentid">
								</el-option>
							</el-select>
						</template>
					</el-form-item>
					<el-form-item label="职位">
						<template>
							<el-select v-model="Employees.postid" placeholder="请选择">
								<el-option v-for="item in SelectPosts" :key="item.postid" :label="item.postname" :value="item.postid">
								</el-option>
							</el-select>
						</template>
					</el-form-item>
					<el-form-item label="学历">
						<el-input placeholder="请输入学历" v-model="Employees.education"></el-input>
					</el-form-item>
					<el-form-item label="毕业学校">
						<el-input placeholder="请输入毕业学校" v-model="Employees.graduationschool"></el-input>
					</el-form-item>
					<el-form-item label="专业">
						<el-input placeholder="请输入专业" v-model="Employees.major"></el-input>
					</el-form-item>
					<el-form-item label="身份证号码">
						<el-input placeholder="请输入身份证号码" v-model="Employees.crrdID"></el-input>
					</el-form-item>
					<el-form-item label="现居住地址">
						<el-input placeholder="请输入现居住地址" v-model="Employees.newaddress"></el-input>
					</el-form-item>
					<el-form-item label="员工联系电话">
						<el-input placeholder="请输入员工联系电话" v-model="Employees.molphone"></el-input>
					</el-form-item>
				</el-form>

				<div slot="footer" class="dialog-footer" align="center">
					<el-button @click="dialogFormVisible2 = false">取 消</el-button>
					<el-button type="primary" @click="insertEmployee()">确 定</el-button>
				</div>
			</el-dialog>

			<el-row :span="24">
				<el-col :span="4" :offset="1">
					<div style="background-color: white; height: 500px;">
						<el-tree :data="data" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
					</div>
				</el-col>
				<el-col :span="15" :offset="1">
					<template>
						<div style="background-color: white; height: 500px;">
							<el-table :data="Employee" style="width: 100%" height="400px">
								<el-table-column fixed prop="post.postname" label="岗位名称" width="150">
								</el-table-column>
								<el-table-column prop="employeeid" label="工号" width="150">
								</el-table-column>
								<el-table-column prop="empname" label="姓名" width="150">
								</el-table-column>
								<el-table-column prop="esex" label="性别" width="150">
									<template slot-scope="scope">
										{{scope.row.esex==1?'男':'女'}}
									</template>
								</el-table-column>
								<el-table-column prop="newaddress" label="现住地址" width="150">
								</el-table-column>
								<el-table-column prop="molphone" label="联系电话" width="150">
								</el-table-column>
								<el-table-column prop="email" label="Email" width="150">
								</el-table-column>
							</el-table>
						</div>
					</template>
				</el-col>
			</el-row>
		</div>
	</body>
	<script type="text/javascript" src="../../js/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="../../js/jq_ajax_config.js"></script>
	<script type="text/javascript" src="../../js/axios.min.js"></script>
	<script type="text/javascript" src="../../js/axios_cfg.js"></script>
	<script type="text/javascript" src="../../js/echarts.min.js"></script>
	<script>
		var structure = new Vue({
			el: "#Structure",
			data: {
				data: [{
					postname: '全部',
					post: []
				}],
				Employee: [],
				wenben1: '',
				Employees: {
					employeeid: '',
					propertyid: '',
					stateid: '',
					departmentid: '',
					postid: '',
					empname: '',
					esex: '',
					emplogenid: '',
					emplogepasword: '',
					education: '',
					graduationschool: '',
					major: '',
					crrdid: '',
					address: '',
					newaddress: '',
					empphone: '',
					emergencyphone: '',
					molphone: '',
					email: '',
					entrytimes: '',
					lztimes: ''
				},
				labelPosition: 'left',
				formLabelAlign: {},
				defaultProps: {
					children: 'post',
					label: 'postname'
				},
				posts: [],
				currentRow: null,
				Post: {
					postid: '',
					postname: '',
					departmentid: ''
				},
				dialogFormVisible2: false,
				titleType2: "新增员工",
				department: [],
				SelectPosts: []
			},
			methods: {
				addStructuredialog() {
					var _this = this;
					_this.titleType2 = "添加员工";
					_this.dialogFormVisible2 = true;
					//_this.disabled = false;
				},
				SelectTree() {
					var _this = this;
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/Departments/Department`).then(function(res) {
						res.data.forEach(function(e, i) {
							e.postname = e.depnames;
						})
						_this.data[0].post = res.data;
					})
				},
				handleNodeClick(data) {
					var _this = this;
					if(data.postname == "全部") {
						_this.Post.postid = '';
						_this.Post.postname = '';
						_this.Post.departmentid = '';
						//this.SelectPostId(1, 3);
						this.SelectEmployee();
						return;
					}
					_this.Post.departmentid = '';
					//console.log(data);
					if(data.depnames != undefined) {
						this.Post.departmentid = data.departmentid;
						//this.SelectPostId(1, 3);
						this.SelectEmployee();
					}
				},
				SelectEmployee() {
					var _this = this;
					if(this.Post.departmentid != '') {
						axios.get(`http://127.0.0.1:8080/dzw_moblie/api/Employees/Employee/${this.Post.departmentid}`).then(function(res) {
							_this.Employee = res.data;
						})
					} else {
						axios.get(`http://127.0.0.1:8080/dzw_moblie/api/Employees/Employee/${-1}`).then(function(res) {
							_this.Employee = res.data;
						})
					}
				},
				/*部门下拉框*/
				SelectBydepartmentid() {
					var _this = this;
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/Departments/Departments`).then(function(res) {
						_this.department = res.data;
					})
				},
				/*岗位下拉框*/
				SelectPost(id) {
					var _this = this;
					_this.Employees.postid = '';
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/Posts/Post/Department/${id}`).then(function(res) {
						_this.SelectPosts = res.data;
					})
				},
				insertEmployee() {
					var _this = this;
					axios.post(`http://127.0.0.1:8080/dzw_moblie/api/Employees/Employee`, _this.Employees).then(function(res) {
						if(res.data.code = "200") {
							_this.$message({
								message: '新增成功！',
								type: 'success'
							});
							_this.dialogFormVisible2 = false;
							_this.Employees= {
					employeeid: '',
					propertyid: '',
					stateid: '',
					departmentid: '',
					postid: '',
					empname: '',
					esex: '',
					emplogenid: '',
					emplogepasword: '',
					education: '',
					graduationschool: '',
					major: '',
					crrdid: '',
					address: '',
					newaddress: '',
					empphone: '',
					emergencyphone: '',
					molphone: '',
					email: '',
					entrytimes: '',
					lztimes: ''
				};
							_this.SelectEmployee();
						}
					})
				},
				SelectByName(){
					var _this = this;
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/Employees/${this.wenben1}`).then(function(res) {
						_this.Employee = res.data;
					})
				}
			},
			mounted() {
				this.SelectTree();
				this.SelectEmployee();
				this.SelectBydepartmentid();
			}
		})
	</script>

</html>