<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>人事-组织机构</title>
	</head>
	
	<style>
		body {
			background-color: #f7f7f7
		}
	</style>

	<body>
		<div id="Structure" style="margin-top: 20px;">
			<el-row :span="24">
				<el-col :span="4" style="font-size: 40px;" :offset="1">
					<span>岗位定义</span>
				</el-col>
				<el-col :span="10" :push="3">
					<el-form :inline="true" class="demo-form-inline">
						<el-form-item label="员工名称" :push="4">
							<el-input placeholder="员工名称"></el-input>
						</el-form-item>
						<el-button type="primary" icon="el-icon-search">搜索</el-button>
						<el-button type="primary" icon="el-icon-circle-plus-outline" @click="addStructuredialog()">新增</el-button>
						<el-button type="primary" icon="el-icon-delete">修改</el-button>
						<el-button type="primary" icon="el-icon-delete">删除</el-button>
						</el-form-item>
					</el-form>
				</el-col>
			</el-row>

			<el-dialog :title="titleType2" :visible.sync="dialogFormVisible2">
				<el-form :inline="true" :label-position="labelPosition" :model="formInline" class="demo-form-inline">
					<el-form-item label="员工编号">
						<el-input placeholder="员工编号"></el-input>
					</el-form-item>
					<el-form-item label="员工姓名">
						<el-input placeholder="员工姓名"></el-input>
					</el-form-item>
					<el-form-item label="性别">
						<el-input placeholder="性别"></el-input>
					</el-form-item>
					<el-form-item label="登录账号">
						<el-input placeholder="登录账号"></el-input>
					</el-form-item>
					<el-form-item label="登录密码">
						<el-input placeholder="登录密码"></el-input>
					</el-form-item>
					<el-form-item label="门店">
						<el-input placeholder="所在门店"></el-input>
					</el-form-item>
					<el-form-item label="所在部门">
						<el-select  placeholder="请选择活动区域">
							<el-option ></el-option>
						</el-select>
					</el-form-item>
					<el-form-item label="职位">
						<el-select  placeholder="请选择活动区域">
							<el-option ></el-option>
						</el-select>
					</el-form-item>
					<el-form-item label="学历">
						<el-input placeholder="请输入学历"></el-input>
					</el-form-item>
					<el-form-item label="属性">
						<el-input placeholder="请输入学历"></el-input>
					</el-form-item>
					<el-form-item label="毕业学校">
						<el-input placeholder="毕业学校"></el-input>
					</el-form-item>
					<el-form-item label="专业">
						<el-input placeholder="专业"></el-input>
					</el-form-item>
					<el-form-item label="身份证号码">
						<el-input placeholder="身份证号码"></el-input>
					</el-form-item>
					<el-form-item label="户口地址">
						<el-input placeholder="户口地址"></el-input>
					</el-form-item>
					<el-form-item label="现居住地址">
						<el-input placeholder="现居住地址"></el-input>
					</el-form-item>
					<el-form-item label="员工联系电话">
						<el-input placeholder="员工联系电话"></el-input>
					</el-form-item>
				</el-form>

				<div slot="footer" class="dialog-footer" align="center">
					<el-button @click="dialogFormVisible2 = false">取 消</el-button>
					<el-button type="primary">确 定</el-button>
				</div>
			</el-dialog>

			<el-row :span="24">
				<el-col :span="4" :offset="1">
					<div style="background-color: white; height: 500px;">
						<el-tree :data="data" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
					</div>
				</el-col>
				<el-col :span="15" :offset="1">
					<template>
						<div style="background-color: white; height: 500px;">
							<el-table :data="tableData" style="width: 100%" height="400px">
								<el-table-column fixed prop="date" label="日期" width="150">
								</el-table-column>
								<el-table-column prop="name" label="姓名" width="120">
								</el-table-column>
								<el-table-column prop="province" label="省份" width="120">
								</el-table-column>
								<el-table-column prop="city" label="市区" width="120">
								</el-table-column>
								<el-table-column prop="address" label="地址" width="300">
								</el-table-column>
								<el-table-column prop="zip" label="邮编" width="120">
								</el-table-column>
							</el-table>
						</div>
					</template>
				</el-col>
			</el-row>
		</div>
	</body>
	
	<script>
		var structure = new Vue({
			el: "#Structure",
			data: {
				data: [{
					postname: '全部',
					post: []
				}],
				formInline: {},
				labelPosition: 'left',
				formLabelAlign: {},
				defaultProps: {
					children: 'post',
					label: 'postname'
				},
				posts: [],
				currentRow: null,
				Post: {
					postid: '',
					postname: '',
					departmentid: ''
				},
				dialogFormVisible2: false,
				titleType2: "新增员工",
				tableData: [{
					date: '2016-05-03',
					name: '王小虎',
					province: '上海',
					city: '普陀区',
					address: '上海市普陀区金沙江路 1518 弄',
					zip: 200333
				}, {
					date: '2016-05-02',
					name: '王小虎',
					province: '上海',
					city: '普陀区',
					address: '上海市普陀区金沙江路 1518 弄',
					zip: 200333
				}, {
					date: '2016-05-04',
					name: '王小虎',
					province: '上海',
					city: '普陀区',
					address: '上海市普陀区金沙江路 1518 弄',
					zip: 200333
				}, {
					date: '2016-05-01',
					name: '王小虎',
					province: '上海',
					city: '普陀区',
					address: '上海市普陀区金沙江路 1518 弄',
					zip: 200333
				}, {
					date: '2016-05-08',
					name: '王小虎',
					province: '上海',
					city: '普陀区',
					address: '上海市普陀区金沙江路 1518 弄',
					zip: 200333
				}, {
					date: '2016-05-06',
					name: '王小虎',
					province: '上海',
					city: '普陀区',
					address: '上海市普陀区金沙江路 1518 弄',
					zip: 200333
				}, {
					date: '2016-05-07',
					name: '王小虎',
					province: '上海',
					city: '普陀区',
					address: '上海市普陀区金沙江路 1518 弄',
					zip: 200333
				}]
			},
			methods: {
				addStructuredialog() {
					var _this = this;
					_this.titleType2 = "添加员工";
					_this.dialogFormVisible2 = true;
					//_this.disabled = false;
				},
				SelectTree() {
					var _this = this;
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/Departments/Department`).then(function(res) {
						res.data.forEach(function(e, i) {
							e.postname = e.depnames;
						})
						_this.data[0].post = res.data;
					})
				},
				handleNodeClick(data) {
					var _this = this;
					if(data.postname == "全部") {
						_this.Post.postid = '';
						_this.Post.postname = '';
						_this.Post.departmentid = '';
						//this.SelectPostId(1, 3);
						return;
					}
					_this.Post.departmentid = '';
					//console.log(data);
					if(data.depnames != undefined) {
						this.Post.departmentid = data.departmentid;
						//this.SelectPostId(1, 3);
					}
				}
			},
			mounted() {
				this.SelectTree();
			}
		})
	</script>

</html>