<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="fieldvehiclesapp" style="background-color: white;color:#F56C6C">
			<el-row :gutter="20">
				<el-col :span="16">
					<div>
						<h3>外勤车辆</h3></div>
				</el-col>
				<el-col :span="8">
					<div>
						<el-button size="mini" style="float: right;background-color: white;color:#F56C6C;font-size: 15px;">关闭</el-button>
					</div>
				</el-col>
			</el-row>
			<br/>
			<div style="background-color: white;color:#F56C6C">
				<el-row :span="10">
					<el-col :md="1" :push="18">
						<el-button style="background-color: white;color:#F56C6C">保存</el-button>
					</el-col>
					<el-col :md="1" :push="18" style="margin-left: 20px;">
						<el-button style="background-color: white;color:#F56C6C">删除</el-button>
					</el-col>
					<el-col :md="1" :push="18" style="margin-left: 20px;">
						<el-button style="background-color: white;color:#F56C6C">新增</el-button>
					</el-col>
				</el-row>
			</div>
			<div style="background-color: white;color:#F56C6C">
				车牌号
				<el-input v-model="addfieldvehicles.carnumber" size="small" placeholder="请输入内容" style="width: 150px;">
				</el-input>

				品牌
				<el-input v-model="addfieldvehicles.fbrand" size="small" placeholder="请输入内容" style="width: 150px;">
				</el-input>
				车型
				<el-input v-model="addfieldvehicles.fmodel" size="small" placeholder="请输入内容" style="width: 150px;">
				</el-input>
				当前里程
				<el-input v-model="addfieldvehicles.currentmileage" size="small" placeholder="请输入内容" style="width: 150px;">
				</el-input>
				班组
				<template>
					<el-select v-model="value" placeholder="请选择">
						<el-option v-for="item in Team" :key="item.teamid" :label="item.tename" :value="item.teamid">
						</el-option>
					</el-select>
				</template>
			</div>
			<el-table ref="singleTable" :data="fieldvehicles" highlight-current-row style="background-color: white;color:#F56C6C" @current-change="fuzhi">
				<el-table-column prop="carnumber" label="车牌号">
				</el-table-column>
				<el-table-column prop="fbrand" label="品牌">
				</el-table-column>
				<el-table-column prop="fmodel" label="车型">
				</el-table-column>
				<el-table-column prop="currentmileage" label="当前里程">
				</el-table-column>
				<el-table-column prop="tename" label="归属班组">
				</el-table-column>
			</el-table>
		</div>
	</body>
	<script>
		new Vue({
			el: "#fieldvehiclesapp",
			data: {
				addfieldvehicles: {
					carnumber: '',
					fbrand: '',
					fmodel: '',
					currentmileage: '',
				},
				fieldvehicles: [],
				Team: [],
				value: ''
			},
			mounted() {
				this.goToPage();
				this.queryTeam();
			},
			methods: {
				fuzhi(currentRow,oldCurrenRow){
					fieldvehiclesapp.addfieldvehicles.carnumber=currentRow.carnumber;
					fieldvehiclesapp.addfieldvehicles.fbrand=currentRow.fbrand;
					fieldvehiclesapp.addfieldvehicles.fmodel=currentRow.fmodel;
					fieldvehiclesapp.addfieldvehicles.currentmileage=currentRow.currentmileage;
				},
				goToPage() {
						let _this = this;
						axios.get(`http://127.0.0.1:8080/dzw_moblie/api/fiel/query`).then(function(resp) {
							_this.fieldvehicles = resp.data;
						}).catch(function(e) {
							console.info(e);
						});
					},
				queryTeam(){
						let _this = this;
						axios.get(`http://127.0.0.1:8080/dzw_moblie/api/fiel/queryteam`).then(function(resp) {
							_this.Team = resp.data;
						})
				}
			}
		});
	</script>

</html>