<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="mechanicstarapp" style="background-color: white;color:#F56C6C">
			<el-row :gutter="20">
				<el-col :span="16">
					<div>
						<h1>技工星级</h1></div>
				</el-col>
				
			</el-row>
			<br />
			<div>
				<el-row :span="10">
					<el-col :md="1" :push="2">
						<el-button type="primary" round @click="updateMechanicstar">保存</el-button>
					</el-col>
					<el-col :md="1" :push="3" style="margin-left: 20px;">
						<el-button type="success" round @click="deleteMechanicstar(addmechanicstar.meid)">删除</el-button>
					</el-col>
					<el-col :md="1" :push="4" style="margin-left: 20px;">
						<el-button type="danger" round @click="insertmechanicstar">新增</el-button>
					</el-col>
				</el-row>
			</div>
			<div style="background-color: white;color:#F56C6C">
				等级编码：
				<el-input v-model="addmechanicstar.meid" size="small" placeholder="请输入内容" style="width: 100px;">
				</el-input>

				星级：
				<el-input v-model="addmechanicstar.starrating" size="small" placeholder="请输入内容" style="width: 100px;">
				</el-input>

				等级：
				<el-input v-model="addmechanicstar.grade" size="small" placeholder="请输入内容" style="width: 100px;">
				</el-input>

				提成权重：
				<el-input v-model="addmechanicstar.weight" size="small" placeholder="请输入内容" style="width: 100px;">
				</el-input>

			</div>
			<template>
				<el-table :data="mechanicstar" height="200" border style="background-color: white;color:#F56C6C;width: 100%" @current-change="fuzhi" highlight-current-row>
						<el-table-column prop="meid" label="编码">
						</el-table-column>
						<el-table-column prop="starrating" label="星级">
						</el-table-column>
						<el-table-column prop="grade" label="等级">
						</el-table-column>
						<el-table-column prop="weight" label="提成权重">
						</el-table-column>
					</el-table>
			</template>
		</div>
	</body>
	<script>
		var mechanicstarapp = new Vue({
			el: "#mechanicstarapp",
			data: {
				
				mechanicstar: [],
				addmechanicstar:{
					meid:'',
					starrating:'',
					grade:'',
					weight:''
				},
				disabled:true,
				value: ''
			},
			mounted() {
				this.goToPage();
			},
			methods: {
				goToPage() {
					let _this = this;
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/mech/lzjquery`).then(function(resp) {
						_this.mechanicstar = resp.data;
					}).catch(function(e) {
						console.info(e);
					});
				},
				fuzhi(currentRow,oldCurrenRow){
					if(currentRow==null){
						return;
					}
					mechanicstarapp.addmechanicstar.meid=currentRow.meid;
					mechanicstarapp.addmechanicstar.starrating=currentRow.starrating;
					mechanicstarapp.addmechanicstar.grade=currentRow.grade;
					mechanicstarapp.addmechanicstar.weight=currentRow.weight;
				},
				insertmechanicstar() {
					if (this.addmechanicstar.starrating == '') {
							alert("请选择星级在新增！")
							return;
						}
					axios.post("http://127.0.0.1:8080/dzw_moblie/api/mech/insert", this.addmechanicstar).then(function(resp) {
						if(resp.data.code == "200") {
							alert('新增成功');
							mechanicstarapp.goToPage();
						}
					}).catch(function(e) {});
				},
				updateMechanicstar() {
					if (this.value == '') {
							alert("请选择星级在修改！")
							return;
						}
					axios.put("http://127.0.0.1:8080/dzw_moblie/api/mech/update", this.addmechanicstar).then(function(resp) {
						if(resp.data.code == "200") {
							alert('更新成功');
							mechanicstarapp.goToPage();
						}
					}).catch(function(e) {});
				},
				deleteMechanicstar(meid) {
					if (this.value == '') {
							alert("请选择星级在删除！")
							return;
						}
					let _this = this;
					if(window.confirm('是否移除？')) {
						axios.delete(`http://127.0.0.1:8080/dzw_moblie/api/mech/mechs/${meid}`).then(function(resp) {
							if(resp.data.code == "200") {
								alert('移除成功');
								mechanicstarapp.goToPage();
							}
						}).catch(function(e) {});
					}
				}
			}
		});
	</script>

</html>