<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<style>
		.el-col {
			border-radius: 4px;
		}
		
		.bg-purple-dark {
			background: #99a9bf;
		}
		
		.bg-purple {
			background: #d3dce6;
		}
		
		.bg-purple-light {
			background: #e5e9f2;
		}
		
		.grid-content {
			border-radius: 4px;
			min-height: 36px;
		}
		
		.row-bg {
			padding: 10px 0;
			background-color: #f9fafc;
		}
		.el-main {
				color: #333;
				padding: 0px;
			}
	</style>
	<body>
		<div id="teamArtisanssapp" style="padding: 0px 10px;">

			<el-row>
				<el-col :span="8" :push="6">
					<el-button  round @click="clickshow">增加员工</el-button>
					<el-button  round @click="insertbanzu">增加班组</el-button>
					<!--<el-button type="primary" round @click="upTeam">修改班组</el-button>-->
					<el-button  round @click="delTeam(addteam.teamid)">删除班组</el-button>
				</el-col>
				<el-col :span="8" :push="6">
					<el-form :inline="true" class="demo-form-inline">
						<el-form-item label="班组名称" label-width="70px">
							<template>
								<el-select v-model="value" @change="zzz">
									<el-option label="请选择" value="null">
									</el-option>
									<el-option v-for="item in Team" :key="item.teamid" :label="item.tename" :value="item.teamid">
									</el-option>
								</el-select>
							</template>
						</el-form-item>
					</el-form>
				</el-col>
			</el-row>

			<el-row>
				<el-dialog title="新增班组" :visible.sync="dialogVisibless" width="400px" :before-close="handleClose">
					<el-form :inline="true" class="demo-form-inline">
						<el-form-item label="班组名称:" label-width="80px">
							<el-input v-model="addteam.tename" placeholder="请输入内容"></el-input>
						</el-form-item>
					</el-form>
					<span slot="footer" class="dialog-footer">
						<el-button @click="dialogVisible = false">取 消</el-button>
						<el-button @click="insertTeam" type="primary" >确 定</el-button>
					</span>
				</el-dialog>
			</el-row>

			<el-row>
				<el-dialog title="修改" :visible.sync="dialogVisibles" width="950px" :before-close="handleClose">
					<div>
						<el-row :gutter="20">
							<el-col :span="16">
								<h2>技工资料</h2>
							</el-col>
						</el-row>
						<el-row>
							<el-form :inline="true" class="demo-form-inline">
								<el-col :span="8">
									<el-form-item label="技工编号" label-width="70px">
										<el-input v-model="updateteamtechnician.technicianno">
										</el-input>
										</el-from-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="技工姓名" label-width="70px">
										<el-input v-model="updateteamtechnician.mename">
										</el-input>
										</el-from-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="性别" label-width="70px">
										<el-input v-model="updateteamtechnician.mesex">
										</el-input>
										</el-from-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="班组编号" label-width="70px">
										<el-input v-model="updateteamtechnician.teamid">
										</el-input>
										</el-from-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="班组" label-width="70px">
										<el-select v-model="value" placeholder="请选择">
											<el-option v-for="item in Team" :key="item.teamid" :label="item.tename" :value="item.teamid">
											</el-option>
										</el-select>
										</el-from-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="手机" label-width="70px">
										<el-input v-model="updateteamtechnician.mephone">
										</el-input>
										</el-from-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="地址" label-width="70px">
										<el-input v-model="updateteamtechnician.meaddress">
										</el-input>
										</el-from-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="出生日期" label-width="70px">
										<el-input v-model="updateteamtechnician.mebirthday">
										</el-input>
										</el-from-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="身份证号" label-width="70px">
										<el-input v-model="updateteamtechnician.menumber">
										</el-input>
										</el-from-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="户口地址" label-width="70px">
										<el-input v-model="updateteamtechnician.accountaddress">
										</el-input>
										</el-from-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="开户银行" label-width="70px">
										<el-input v-model="updateteamtechnician.openbank">
										</el-input>
										</el-from-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="银行账号" label-width="70px">
										<el-input v-model="updateteamtechnician.bankaccount">
										</el-input>
										</el-from-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="星级" label-width="70px">
										<el-input v-model="updateteamtechnician.starrating">
										</el-input>
										</el-from-item>

								</el-col>
								<el-col :span="8">
									<el-form-item label="维修工种" label-width="70px">
										<el-input v-model="updateteamtechnician.repairwork">
										</el-input>
										</el-from-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="维修品牌" label-width="70px">
										<el-input v-model="updateteamtechnician.repairbrand">
										</el-input>
										</el-from-item>
								</el-col>
							</el-form>
						</el-row>

					</div>
					<span slot="footer" class="dialog-footer">
						<el-button @click="dialogVisible = false">取 消</el-button>
						<el-button @click="updateTeam"  @click="dialogVisible = false">确 定</el-button>
					</span>
				</el-dialog>
			</el-row>
			<el-row>
				<el-dialog title="新增" :visible.sync="dialogVisible" width="980px" :before-close="handleClose">
					<div>
						<el-row :gutter="20">
							<el-col :span="16">
								<h2>技工资料</h2>
							</el-col>
						</el-row>
						<el-row>
							<el-form :inline="true" :rules="rules" ref="addteamtechnician" :model="addteamtechnician">
								<el-col :span="8">
									<el-form-item label="技工姓名" label-width="80px" prop="mename">
										<el-input v-model="addteamtechnician.mename">
										</el-input>
									</el-form-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="性别" label-width="80px" prop="mesex">
										<el-input v-model="addteamtechnician.mesex">
										</el-input>
									</el-form-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="手机" label-width="80px">
										<el-input v-model="addteamtechnician.mephone">
										</el-input>
									</el-form-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="地址" label-width="80px">
										<el-input v-model="addteamtechnician.meaddress">
										</el-input>
									</el-form-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="出生日期" label-width="80px">
										<el-input v-model="addteamtechnician.mebirthday">
										</el-input>
									</el-form-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="身份证号" label-width="80px">
										<el-input v-model="addteamtechnician.menumber">
										</el-input>
									</el-form-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="户口地址" label-width="80px">
										<el-input v-model="addteamtechnician.accountaddress">
										</el-input>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item label="开户银行" label-width="80px">
										<el-input v-model="addteamtechnician.openbank">
										</el-input>
									</el-form-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="银行账号" label-width="80px">
										<el-input v-model="addteamtechnician.bankaccount">
										</el-input>
									</el-form-item>
								</el-col>

								<el-col :span="8">
									<el-form-item label="星级" label-width="80px" prop="meid">
										<el-select v-model="addteamtechnician.meid" @change="zzz">
											<el-option label="请选择" value="null">
											</el-option>
											<el-option v-for="item in machs" :key="item.meid" :label="item.starrating" :value="item.meid">
											</el-option>
										</el-select>
									</el-form-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="维修工种" label-width="80px">
										<el-input v-model="addteamtechnician.repairwork">
										</el-input>
									</el-form-item>
								</el-col>
								<el-col :span="8">
									<el-form-item label="维修品牌" label-width="80px">
										<el-input v-model="addteamtechnician.repairbrand">
										</el-input>
									</el-form-item>
								</el-col>
							</el-form>
						</el-row>

					</div>
					<span slot="footer" class="dialog-footer">
						<el-button @click="dialogVisible = false">取 消</el-button>
						<el-button @click="insertTeamtechnician"  @click="dialogVisible = false">确定</el-button>
					</span>
				</el-dialog>
			</el-row>
			<el-row>
				<el-col :span="24">
					
					<template>
						<el-table :data="teamtechnician" max-height="300">
							<!--<el-table-column fixed prop="teamid" label="班组编号" width="150">
							</el-table-column>-->
							<el-table-column prop="tename" label="班组名称" width="150">
							</el-table-column>
							<el-table-column prop="technicianno" label="技工编号" width="150">
							</el-table-column>
							<el-table-column prop="mename" label="技工姓名" width="150">
							</el-table-column>
							<el-table-column prop="mesex" label="性别" width="150">
							</el-table-column>
							<el-table-column prop="mephone" label="手机" width="150">
							</el-table-column>
							<el-table-column prop="meaddress" label="地址" width="150">
							</el-table-column>
							<el-table-column prop="mebirthday" label="出生日期" width="150">
							</el-table-column>
							<el-table-column prop="groupleader" label="组长" width="150">
							</el-table-column>
							<el-table-column prop="menumber" label="身份证号" width="150">
							</el-table-column>
							<el-table-column prop="accountaddress" label="户口地址" width="150">
							</el-table-column>
							<el-table-column prop="openbank" label="开户银行" width="150">
							</el-table-column>
							<el-table-column prop="bankaccount" label="银行账号" width="150">
							</el-table-column>
							<el-table-column prop="starrating" label="星级" width="150">
							</el-table-column>
							<el-table-column prop="repairwork" label="维修工种" width="150">
							</el-table-column>
							<el-table-column prop="repairbrand" label="维修品牌" width="150">
							</el-table-column>
							<el-table-column fixed="right" label="操作" width="200">
								<template slot-scope="scope">
									<el-button @click="updateTeams(scope.row)">修改</el-button>
									<el-button @click="deleteTeam(scope.row.technicianno)">删除</el-button>
								</template>
							</el-table-column>
						</el-table>
					</template>
				</el-col>
			</el-row>
		</div>
	</body>

	<script>
		var teamArtisanssapp = new Vue({
			el: "#teamArtisanssapp",
			data: {
				addteamtechnician: {
					
				},
				addteam: {
					tename: ''
				},
				updateteamtechnician: {
					
				},

				machs: [],
				sss: '',
				Team: [],
				value: '',
				teamtechnician: [],
				Tename: [],
				dialogVisible: false,
				dialogVisibles: false,
				dialogVisibless: false,
				zz: '',
				aaa: '',
				updateTe: {
					teamid: '',
					tename: ''
				},
				//
				rules: {
					technicianno: [{
						required: true,
						message: '请输入编号',
						trigger: 'blur'
					}],
					meid: [{
						required: true,
						message: '请选择星级',
						trigger: 'change'
					}],
					mename: [{
						required: true,
						message: '请输入姓名',
						trigger: 'blur'
					}],
					mesex: [{
						required: true,
						message: '请输入性别',
						trigger: 'blur'
					}],
				}

			},
			mounted() {
				this.goToPage();
				this.queryTeam();
				this.xingji();
			},
			methods: {
				delTeam(teamid) {
					let _this = this;
					this.$confirm('是否删除?', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						axios.delete(`http://127.0.0.1:8080/dzw_moblie/api/ttt/dele/${this.value}`).then(function(resp) {
							if(resp.data.code == "200") {
								_this.$message({
							type: 'success',
							message: '删除成功!'
						});
						
								teamArtisanssapp.goToPage();
								teamArtisanssapp.queryTeam();
								teamArtisanssapp.value='null';
							}else{
								_this.$message.error('该班组存在技工，不能删除');
							}
						}).catch(function(e) {});
						
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消删除'
						});
					});

				},
				upTeam() {
					this.updateTe.teamid = this.value;
					let _this = this;
					axios.put("http://127.0.0.1:8080/dzw_moblie/api/ttt/update", this.updateTe).then(function(resp) {
						if(resp.data.code == "200") {
							_this.$message({
								message: '更新成功',
								type: 'success'
							});
							teamArtisanssapp.goToPage();
						}
					}).catch(function(e) {});

				},
				xingji() {
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/mech/lzjquery`).then(function(res) {
						teamArtisanssapp.machs = res.data;
					})
				},
				insertTeamtechnician() {
					this.addteamtechnician.teamid = this.value;
					let _this = this;
					//this.addteamtechnician.teamid = parseInt(this.value);
					axios.post("http://127.0.0.1:8080/dzw_moblie/api/team/insert", this.addteamtechnician).then(function(resp) {
						if(resp.data.code == "200") {
							_this.$message({
								message: '新增成功',
								type: 'success'
							});
							teamArtisanssapp.goToPage();
						}
					}).catch(function(e) {});
				},
				insertTeam() {
					let _this = this;
					//this.addteamtechnician.teamid = parseInt(this.value);
					axios.post("http://127.0.0.1:8080/dzw_moblie/api/ttt/insert", this.addteam).then(function(resp) {
						if(resp.data.code == "200") {
							_this.$message({
								message: '新增成功',
								type: 'success'
							});
							teamArtisanssapp.queryTeam();
						}
					}).catch(function(e) {});
				},
				goToPage() {
					let _this = this;
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/team/query`).then(function(resp) {
						_this.teamtechnician = resp.data;
						
					}).catch(function(e) {
						console.info(e);
					});
				},
				handleClose(done) {
					this.$confirm('确认关闭？')
						.then(_ => {
							done();
						})
						.catch(_ => {});
				},
				queryTename(tename) {
					let _this = this;
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/team/querytename/${tename}`).then(function(resp) {
						_this.teamtechnician = resp.data;
					})
				},
				queryTeam() {
					let _this = this;
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/fiel/queryteam`).then(function(resp) {
						_this.Team = resp.data;
					})
				},
				insertbanzu() {
					this.dialogVisibless = true;
				},
				clickshow() {
					if(this.value == '' || this.value == 'null') {
						alert("请选择班组名称再添加！")
						return;
					}
					this.dialogVisible = true;
				},
				updateTeams(updateteamtechnicianss) {
					this.updateteamtechnician = updateteamtechnicianss;
					this.dialogVisibles = true;
				},
				updateTeam() {
					let _this = this;
					this.updateteamtechnician.teamid = this.value;
					axios.put("http://127.0.0.1:8080/dzw_moblie/api/team/update", this.updateteamtechnician).then(function(resp) {
						if(resp.data.code == "200") {
							_this.$message({
								message: '更新成功',
								type: 'success'
							});
							teamArtisanssapp.value = null;
							teamArtisanssapp.goToPage();
						}
					}).catch(function(e) {});
				},

				deleteTeam(technicianno) {
					let _this = this;
					this.$confirm('是否删除?', '提示', {
						confirmButtonText: '确定',
						cancelButtonText: '取消',
						type: 'warning'
					}).then(() => {
						axios.delete(`http://127.0.0.1:8080/dzw_moblie/api/team/dele/${technicianno}`).then(function(resp) {
							if(resp.data.code == "200") {
								_this.$message({
							type: 'success',
							message: '删除成功!'
						});
								teamArtisanssapp.goToPage();
							}
						}).catch(function(e) {});
						
					}).catch(() => {
						this.$message({
							type: 'info',
							message: '已取消删除'
						});
					});

				},
				zzz() {
					for(var i = 0; i < this.machs.length; i++) {
						if(this.machs[i].meid == this.addteamtechnician.meid) {
							this.addteamtechnician.starrating = this.machs[i].starrating;
							break;
						}
					}
					this.queryTename(this.value);
				}
			}
		})
	</script>

</html>