<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<div id="maintainapp">
			<el-row>
				<el-col>
					<el-menu style="height: 550px;" default-active="2" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
						<el-submenu index="1">
							<template slot="title">
								<i class="el-icon-location"></i>
								<span>前台结算 </span>
							</template>
							<el-menu-item-group>
								<el-menu-item index="1-1" @click="menuclick('结算中心','zsj4','/dzw_mobiles/view/zsj/closeAnAccountIndex.html')">结算中心</el-menu-item>
								<el-menu-item index="1-2">快速修道</el-menu-item>
								<el-menu-item index="1-2">出厂放行</el-menu-item>
								<el-menu-item index="1-2">维修退货</el-menu-item>
								<el-menu-item index="1-2">其他收入</el-menu-item>
								<el-menu-item index="1-2">预收定金</el-menu-item>
							</el-menu-item-group>
						</el-submenu>

						<el-submenu index="2">
							<template slot="title">
								<i class="el-icon-location"></i>
								<span>收益统计</span>
							</template>
							<el-menu-item-group>
								<el-menu-item index="2-1">会员管理</el-menu-item>
								<el-menu-item index="2-2">积分规则</el-menu-item>
								<el-menu-item index="2-2">积分赠送</el-menu-item>
							</el-menu-item-group>
						</el-submenu>
						
						
						<el-submenu index="3">
							<template slot="title">
								<i class="el-icon-location"></i>
								<span>业绩考核</span>
							</template>
							<el-menu-item-group>
								<el-menu-item index="3-1">误工率统计</el-menu-item>
								<el-menu-item index="3-2">返工率统计</el-menu-item>
							</el-menu-item-group>
						</el-submenu>
						<el-submenu index="3">
							<template slot="title">
								<i class="el-icon-location"></i>
								<span>卡管理</span>
							</template>
							<el-menu-item-group>
								<el-menu-item index="3-1">误工率统计</el-menu-item>
								<el-menu-item index="3-2">返工率统计</el-menu-item>
							</el-menu-item-group>
						</el-submenu>
						<el-submenu index="3">
							<template slot="title">
								<i class="el-icon-location"></i>
								<span>其他统计</span>
							</template>
							<el-menu-item-group>
								<el-menu-item index="3-1">误工率统计</el-menu-item>
								<el-menu-item index="3-2">返工率统计</el-menu-item>
							</el-menu-item-group>
						</el-submenu>
					</el-menu>
				</el-col>
				
			</el-row>
		</div>
	</body>
<script type="text/javascript" src="/dzw_mobiles/js/commitjs.js" ></script>

</html>