<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>

		<style>
			a {
				text-decoration: none;
			}
		</style>
	</head>

	<body>
		<div id="UserListApp">
			<el-row :span="24">
				<el-col :md="2">
					<el-button type="primary" @click="dialogVisible = true">用户添加</el-button>
				</el-col>
				<el-col :push="14" :md="2" style="margin-top: 10px;"><a href="#">查询内容</a></el-col>
				<el-col :md="6" :push="14">
					<el-col :md="15">
						<el-input placeholder="用户编号" v-model="sel"></el-input>
					</el-col>
					<el-button type="primary" icon="el-icon-search" @click="queryClient" style="margin-left: 5px;">搜索</el-button>
				</el-col>
			</el-row>
			<br />
			<el-dialog title="客户添加" :visible.sync="dialogVisible" width="50%" :before-close="handleClose">
				<el-form :inline="true" :model="formInline" ref="formInline" :rules="rules" class="demo-form-inline">
					<el-form-item label="客户名称">
						<el-input v-model="formInline.cname" placeholder="客户名称"></el-input>
					</el-form-item>
					<el-form-item label="客户手机">
						<el-input v-model="formInline.cphone" placeholder="客户手机"></el-input>
					</el-form-item>
					<el-form-item label="联 系 人 ">
						<el-input v-model="phoneName" placeholder="联系人"></el-input>
					</el-form-item>
					<el-form-item label="客户额度">
						<el-input v-model="formInline.climit" placeholder="额度"></el-input>
					</el-form-item>
					<el-form-item label="客户积分">
						<el-input v-model="formInline.cintegral" placeholder="积分"></el-input>
					</el-form-item>
					<el-form-item label="客户备注">
						<el-input v-model="formInline.cremark" placeholder="备注"></el-input>
					</el-form-item>
				</el-form>
				<span slot="footer" class="dialog-footer">
    				<el-button @click="dialogVisible = false">取 消</el-button>
    				<el-button type="primary" @click="add('formInline')">确 定</el-button>
  				</span>
			</el-dialog>
			<el-dialog title="客户修改" :visible.sync="dialogVisible1" width="50%" :before-close="handleClose">
				<el-form :inline="true" :model="client1" ref="formInline" :rules="rules" class="demo-form-inline">
					<el-form-item label="客户名称">
						<el-input v-model="client1.cname" placeholder="客户名称"></el-input>
					</el-form-item>
					<el-form-item label="客户手机">
						<el-input v-model="client1.cphone" placeholder="客户手机"></el-input>
					</el-form-item>
					<el-form-item label="联 系 人 ">
						<el-input v-model="client1.cname" placeholder="联系人"></el-input>
					</el-form-item>
					<el-form-item label="客户额度">
						<el-input v-model="client1.climit" placeholder="额度"></el-input>
					</el-form-item>
					<el-form-item label="客户积分">
						<el-input v-model="client1.cintegral" placeholder="积分"></el-input>
					</el-form-item>
					<el-form-item label="客户备注">
						<el-input v-model="client1.cremark" placeholder="备注"></el-input>
					</el-form-item>
				</el-form>
				<span slot="footer" class="dialog-footer">
    				<el-button @click="dialogVisible1 = false">取 消</el-button>
    				<el-button type="primary" @click="update('formInline')">确 定</el-button>
  				</span>
			</el-dialog>
			<el-row :span="24">
				<template>
					<el-table :data="client" height="250" border style="width: 100%" @row-dblclick="vehicle">
						<el-table-column prop="" label="序号">
							<template slot-scope="scope">
								<span>{{scope.$index+1}}</span>
							</template>
						</el-table-column>
						<el-table-column prop="cid" label="客户编号">
						</el-table-column>
						<el-table-column prop="cname" label="客户名称">
						</el-table-column>
						<el-table-column prop="cphone" label="手机号">
						</el-table-column>
						<el-table-column prop="createdate" label="创建时间" width="200">
						</el-table-column>
						<el-table-column label="客户等级">
							<template slot-scope="scope">
								<span v-if="scope.row.cgrade==1">
									普通用户
								</span>
								<span v-if="scope.row.cgrade==2">
									会员用户
								</span>
							</template>
						</el-table-column>
						<el-table-column prop="climit" label="用户额度">
						</el-table-column>
						<el-table-column prop="cintegral" label="积分">
						</el-table-column>
						<el-table-column prop="cremark" label="备注">
						</el-table-column>
						<el-table-column prop="" label="操作" width="180">
							<template slot-scope="scope">
								<el-button type="success" icon="el-icon-edit" @click="updateClient(scope.row)" title="修改"></el-button>
								<el-button type="primary" icon="el-icon-delete" @click="deleteClient(scope.row.cid)" title="删除"></el-button>
							</template>
						</el-table-column>
					</el-table>
				</template>

			</el-row>
			<br />
			<br />
			<el-row>
				<el-tabs type="border-card">
					<el-tab-pane label="车辆管理">
						<template>
							<el-table :data="vehicle1" height="250" border style="width: 100%;" v-if="vehicle!=null">
								<el-table-column prop="" label="序号">
									<template slot-scope="scope">
										<span>{{scope.$index+1}}</span>
									</template>
								</el-table-column>
								<el-table-column prop="cid" label="客户编号">
								</el-table-column>
								<el-table-column prop="vdriver" label="驾驶员">
								</el-table-column>
								<el-table-column prop="vlicense" label="车牌号码">
								</el-table-column>
								<el-table-column prop="vbrand" label="车辆品牌">
								</el-table-column>
								<el-table-column prop="vmodel" label="车辆型号">
								</el-table-column>
								<el-table-column prop="vphone" label="联系电话">
								</el-table-column>
								<el-table-column prop="vaffiliation" label="车辆归属">
								</el-table-column>
								<el-table-column prop="vmileage" label="里程(km)">
								</el-table-column>
								<el-table-column prop="registereddate" label="上牌日期" width="200">
								</el-table-column>
								<el-table-column prop="purchasedate" label="购买日期" width="200">
								</el-table-column>
							</el-table>
						</template>
					</el-tab-pane>
				</el-tabs>
			</el-row>
		</div>
	</body>

	<script>
		var UserListApp = new Vue({
			el: "#UserListApp",
			data: {
				dialogVisible: false,
				dialogVisible1: false,
				sel: "",
				tableData: [{
					date: '2016-05-03',
					name: '王小虎',
					address: '上海市普陀区金沙江路 1518 弄'
				}, {
					date: '2016-05-02',
					name: '王小虎',
					address: '上海市普陀区金沙江路 1518 弄'
				}, {
					date: '2016-05-04',
					name: '王小虎',
					address: '上海市普陀区金沙江路 1518 弄'
				}, {
					date: '2016-05-01',
					name: '王小虎',
					address: '上海市普陀区金沙江路 1518 弄'
				}, {
					date: '2016-05-08',
					name: '王小虎',
					address: '上海市普陀区金沙江路 1518 弄'
				}, {
					date: '2016-05-06',
					name: '王小虎',
					address: '上海市普陀区金沙江路 1518 弄'
				}, {
					date: '2016-05-07',
					name: '王小虎',
					address: '上海市普陀区金沙江路 1518 弄'
				}],
				rules: {
					name: [{
						required: true,
						message: '请输入客户编号',
						trigger: 'blur'
					}],
					name1: [{
						required: true,
						message: '请输入客户名称',
						trigger: 'blur'
					}],
					brand: [{
						required: true,
						message: '请选择接待人员',
						trigger: 'blur'
					}]
				},
				formInline: {
					cname: '',
					cphone: '',
					climit: '',
					cintegral: '',
					cremark: ''
				},
				value2: '',
				pickerOptions: {
					disabledDate(time) {
							return time.getTime() > Date.now();
						},
						shortcuts: [{
							text: '今天',
							onClick(picker) {
								picker.$emit('pick', new Date());
							}
						}, {
							text: '昨天',
							onClick(picker) {
								const date = new Date();
								date.setTime(date.getTime() - 3600 * 1000 * 24);
								picker.$emit('pick', date);
							}
						}, {
							text: '一周前',
							onClick(picker) {
								const date = new Date();
								date.setTime(date.getTime() - 3600 * 1000 * 24 * 7);
								picker.$emit('pick', date);
							}
						}]
				},
				client: [],
				vehicle1: [],
				phoneName: '',
				client1: {}
			},
			methods: {
				handleClose(done) {
						this.$confirm('确认关闭？')
							.then(_ => {
								done();
								this.$message({
									message: '关闭成功!',
									type: 'success'
								});
							})
							.catch(_ => {});
					},
					add(a) {
						this.$refs[a].validate((valid) => {
							if (valid) {
								let _this = this;
								axios.post(`http://127.0.0.1:8080/dzw_moblie/api/clients/client`, this.formInline).then(function(resp) {
									if (resp.data.code == "200") {
										_this.$alert("新增成功!");
										_this.queryClient();
										_this.dialogVisible = false;
										_this.formInline = {
											cname: '',
											cphone: '',
											climit: '',
											cintegral: '',
											cremark: ''
										};
										_this.phoneName = "";
									}
								})
							} else {
								console.log('error submit!!');
								return false;
							}
						});
					},
					//根据条件查询用户信息
					queryClient() {
						var sel1 = 0;
						if (this.sel != "") {
							sel1 = this.sel;
						}
						let _this = this;
						axios.get(`http://127.0.0.1:8080/dzw_moblie/api/clients/${sel1}`).then(function(resp) {
							_this.client = resp.data;
						})
					},
					//双击指定用户显示对应的车辆信息
					vehicle(row) {
						let _this = this;
						axios.get(`http://127.0.0.1:8080/dzw_moblie/api/clients/client1/${row.cid}`).then(function(resp) {
							_this.vehicle1 = resp.data;
						})
					},
					//打开修改页面模态框
					updateClient(row) {
						this.dialogVisible1 = true;
						this.client1 = row;
					},
					//修改客户信息
					update(a) {
						this.$refs[a].validate((valid) => {
							if (valid) {
								let _this = this;
								axios.put(`http://127.0.0.1:8080/dzw_moblie/api/clients/client`, this.client1).then(function(resp) {
									if (resp.data.code == "200") {
										_this.$alert("修改成功!");
										_this.queryClient();
										_this.dialogVisible1 = false;
									}
								})
							} else {
								console.log('error submit!!');
								return false;
							}
						});
					},
					deleteClient(cid) {
						let _this = this;
						axios.delete(`http://127.0.0.1:8080/dzw_moblie/api/clients/client/${cid}`).then(function(resp) {
							if (resp.data.code == "200") {
								_this.$alert("删除成功!");
								_this.queryClient();
							}
						})
					}
			},
			mounted() {
				this.queryClient();
			}
		})
	</script>

</html>