<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>离职登记</title>
		<link rel="stylesheet" href="css/index.css" />
		<style type="text/css">
			
			.el-main {
				color: #333;
				padding: 0px;
			}
		</style>
	</head>
	<body>
		<div id="lizhiapp" style="padding: 0px 10px;">
			<el-row>
				<el-col :span="4">
					<h1>离职登记</h1>
				</el-col>
				<el-col :span="18" :push="5">
					<el-button  @click="dialogFormVisible = true">离职员工</el-button>
					<el-dialog title="离职登记" :visible.sync="dialogFormVisible">
					  <el-form :inline="true" :model="form" class="demo-form-inline">
					    <el-form-item label="员工姓名" :label-width="formLabelWidth">
					      <el-input v-model="form.name" autocomplete="off"></el-input>
					    </el-form-item>
					    <el-form-item label="离职原因" :label-width="formLabelWidth">
					      <el-input v-model="form.yy" autocomplete="off"></el-input>
					    </el-form-item>
					    </el-form-item>
					  </el-form>
					  <template>
						  <el-table
						    :data="tableData2"
						     highlight-current-row
						     @current-change="danxuan"
						    style="width: 100%">
						    <el-table-column
						      prop="bumen"
						      label="部门名称"
						      width="180">
						    </el-table-column>
						    <el-table-column
						      prop="gangwei"
						      label="岗位名称"
						      width="180">
						    </el-table-column>
						    <el-table-column
						      prop="empname"
						      label="姓名">
						    </el-table-column>
						    <el-table-column
						      prop="empphone"
						      label="电话">
						    </el-table-column>
						  </el-table>
					</template>
					  <div slot="footer" class="dialog-footer">
					  	<el-button  @click="xiugai()">确 定</el-button>					 
					    <el-button @click="dialogFormVisible = false">取 消</el-button>
					   </div>
					</el-dialog>
					
					<el-button >回滚</el-button>
					<el-button >关闭</el-button>
				</el-col>
				
				<el-col>
					<template>
					  <el-table
					    :data="tableData"
					    style="width: 100%">
					    <el-table-column
					      prop="bumen"
					      label="部门名称"
					      width="180">
					    </el-table-column>
					    <el-table-column
					      prop="gangwei"
					      label="岗位名称"
					      width="180">
					    </el-table-column>
					    <el-table-column
					      prop="employeeid"
					      label="员工编号">
					    </el-table-column>
					    <el-table-column
					      prop="emplogenid"
					      label="姓名">
					    </el-table-column>
					    <el-table-column
					      prop="empphone"
					      label="电话">
					    </el-table-column>
					    <el-table-column
					      prop="lztimes"
					      label="离职日期">
					    </el-table-column>
					    <el-table-column
					      prop="yuanyin"
					      label="离职原因">
					    </el-table-column>
					  </el-table>
					</template>
				</el-col>
				
				
			</el-row>
			
		</div>
	</body>
	
	<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/axios_cfg.js"></script>
	
	<script>
		var lizhi=new Vue({
			el:"#lizhiapp",
			data:{
				tableData: [],
			        //模态框
			        dialogFormVisible: false,
				        form: {
				        	id:'',
				          name: '',
				          yy: '',				          
				          delivery: false,				         
				        },
				      formLabelWidth: '120px',
				    //离职员工表格
				    tableData2:[],
				    jilu:'',
			},
			mounted(){
				this.select();
				this.mohu();
			},
			methods:{
				danxuan(currentRow, oldCurrentRow){
					if(currentRow==null){
						return;
					}
					this.form.id=currentRow.employeeid;
					this.form.name=currentRow.empname;
				},
				select(){				//已经离职的方法
					let _this=this;
				axios.get(`http://127.0.0.1:8080/dzw_moblie/api/yuangong/lizhi`).then(function(resp) {
									_this.tableData=resp.data;
									
									_this.jilu=_this.tableData.length;		//查询离职人员  个数
					})
				},
				mohu(){
							var employeeid;			//员工编号
							var neirong="";
						if(neirong==""){
							employeeid=-1;
						}else{
							employeeid=neirong;
						}
							let _this=this;
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/yuangong/select/${employeeid}`).then(function(resp) {
									_this.tableData2=resp.data;
					})
				},
				xiugai(){
					dialogFormVisible = false;
					let _this=this;
					axios.put(`http://127.0.0.1:8080/dzw_moblie/api/yuangong/update/${_this.form.id}/${_this.form.yy}`).then(function(resp) {
									if(resp.data.code=="200"){
									_this.$message({
									message: '离职成功！',
									type: 'success'
										});
									}
									_this.select();
									_this.mohu();
									 _this.form.name='';
				          			 _this.form.yy= '';
									
					})
				}
			}
		})
		
	</script>
</html>
