<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>离职登记</title>
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body>
		<div id="lizhiapp">
			<el-row>
				<el-col>
					<h1>离职登记</h1>
				</el-col>
				<el-col>
					<el-button type="success" @click="dialogFormVisible = true">离职员工</el-button>
					
					<el-dialog title="离职登记" :visible.sync="dialogFormVisible">
					  <el-form :model="form">
					    <el-form-item label="员工姓名" :label-width="formLabelWidth">
					      <el-input v-model="form.name" autocomplete="off"></el-input>
					    </el-form-item>
					    <el-form-item label="离职原因" :label-width="formLabelWidth">
					      <el-input v-model="form.yuanyin" autocomplete="off"></el-input>
					    </el-form-item>
					    </el-form-item>
					  </el-form>
					  <template>
						  <el-table
						    :data="tableData2"
						    border
						    style="width: 100%">
						    <el-table-column
						      prop="bumen"
						      label="部门名称"
						      width="180">
						    </el-table-column>
						    <el-table-column
						      prop="gangwei"
						      label="岗位名称"
						      width="180">
						    </el-table-column>
						    <el-table-column
						      prop="name"
						      label="姓名">
						    </el-table-column>
						    <el-table-column
						      prop="sex"
						      label="性别">
						    </el-table-column>
						  </el-table>
					</template>
					  <div slot="footer" class="dialog-footer">
					  	<el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>					 
					    <el-button @click="dialogFormVisible = false">取 消</el-button>
					   </div>
					</el-dialog>
					
					<el-button type="primary">回滚</el-button>
					<el-button type="success">关闭</el-button>
				</el-col>
				
				<el-col>
					<template>
					  <el-table
					    :data="tableData"
					    border
					    style="width: 100%">
					    <el-table-column
					      prop="bumen"
					      label="部门名称"
					      width="180">
					    </el-table-column>
					    <el-table-column
					      prop="gangwei"
					      label="岗位名称"
					      width="180">
					    </el-table-column>
					    <el-table-column
					      prop="bianhao"
					      label="员工编号">
					    </el-table-column>
					    <el-table-column
					      prop="name"
					      label="姓名">
					    </el-table-column>
					    <el-table-column
					      prop="sex"
					      label="性别">
					    </el-table-column>
					    <el-table-column
					      prop="date"
					      label="离职日期">
					    </el-table-column>
					    <el-table-column
					      prop="yuanyin"
					      label="离职原因">
					    </el-table-column>
					  </el-table>
					</template>
				</el-col>
				<el-col>
					<span>合计:1条记录</span>
				</el-col>
				
			</el-row>
			
		</div>
	</body>
	
	<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/axios_cfg.js"></script>
	
	<script>
		var lizhi=new Vue({
			el:"#lizhiapp",
			data:{
				tableData: [{
					  bumen:'人事',
					  gangwei:'扫地',
					  bianhao:1,
					  name:'大哥',
					  sex:'男',
			          date: '2016-05-02',
			          yuanyin: '工资低'			          
			        }, {
			          bumen:'人事',
					  gangwei:'扫地',
					  bianhao:2,
					  name:'小弟',
					  sex:'男',
			          date: '2018-05-02',
			          yuanyin: '工资低了'
			        }],
			        //模态框
			        dialogFormVisible: false,
				        form: {
				          name: '',
				          yuanyin: '',				          
				          delivery: false,				         
				        },
				      formLabelWidth: '120px',
				    //离职员工表格
				    tableData2:[{
				      bumen:'人事',
					  gangwei:'扫地',
					  name:'大哥',
					  sex:'男',
				    },{
				      bumen:'人事',
					  gangwei:'洗碗',
					  name:'小弟',
					  sex:'男',
				    }]
			}
		})
		
	</script>
</html>
