<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>通讯目录</title>
		<link rel="stylesheet" href="css/index.css" />
	</head>
	<body>
		<div id="tongxunapp">
			<el-row>
				<el-col>
					<h1>通讯目录</h1>
				</el-col>
				<el-row>
				<el-col :span="4">
					<el-input v-model="neirong" placeholder="请输入内容" ></el-input>
				</el-col>	
				<el-col :span="2" :push="1">
					 <el-button type="primary" @click="mohu()">搜索</el-button>
				</el-col>
				<el-col :span="2" :push="1">	 
					  <el-button type="primary">关闭</el-button>
				</el-col>	
				</el-row>
				<el-row>
					<el-col>
					<template>
					  <el-table
					    :data="tableData"
					    border
					    style="width: 100%">
					    <el-table-column
					      prop="bumen"
					      label="部门名称"
					      width="180">
					    </el-table-column>
					    <el-table-column
					      prop="gangwei"
					      label="岗位名称"
					      width="180">
					    </el-table-column>
					    <el-table-column
					      prop="employeeid"
					      label="员工编号">
					    </el-table-column>
					    <el-table-column
					      prop="emplogenid"
					      label="姓名">
					    </el-table-column>
					    <el-table-column
					      prop="empphone"
					      label="电话">
					    </el-table-column>
					    <el-table-column
					      prop="email"
					      label="邮箱">
					    </el-table-column>
					   
					  </el-table>
					</template>
				</el-col>
				<el-col :span="4" :push="1">
						<span>合计:</span><el-input  v-model="jilu" :disabled="true">  </el-input><span>条记录</span>
				</el-col>
				</el-row>
			</el-row>
		</div>
	</body>
	
	<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
	<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script src="js/axios.min.js"></script>
	<script src="js/axios_cfg.js"></script>
	
	<script>
		var tongxunapp=new Vue({
			el:"#tongxunapp",
			data:{
				neirong:'',
				tableData:[],
				jilu:''
			},
			mounted(){
				this.mohu();
			},
			methods:{
				mohu(){
							var employeeid;			//员工编号
						if(this.neirong==""){
							employeeid=-1;
						}else{
							employeeid=this.neirong;
						}
							let _this=this;
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/yuangong/select/${employeeid}`).then(function(resp) {
									_this.tableData=resp.data;
									alert("总条数:"+_this.tableData.length)
									_this.jilu=_this.tableData.length;
					})
				}
			}
		})
	</script>
</html>
