<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>维修项目</title>
		<link rel="stylesheet" href="css/index.css" />
		<style type="text/css">
			.el-main {
				color: #333;
				padding: 0px;
			}
		</style>
	</head>

	<body>
		<h2>维修项目</h2>
		<div id="weixiushowapp" style="padding: 0px 10px;">
		
		
				<el-col :span="3">
					<el-input v-model="neirong" placeholder="请输入内容" style="width: 200px;"></el-input>
				</el-col>
				<el-col :span="2" :push="3">
					<el-button icon="el-icon-search" circle @click="pageinfo(1,3)"></el-button>
				</el-col>
				<el-col :span="2" :push="3">
					<el-button  @click="dialogFormVisible = true">新增</el-button>
				</el-col>			
							<el-dialog title="维修项目新增" :visible.sync="dialogFormVisible">
								<el-form :model="form" :inline="true">
									<el-row>
										<el-col :span="12">
									<el-form-item label="维修类型" :label-width="formLabelWidth" >
										<el-select v-model="value1" placeholder="请选择维修类型" @change="changeone">
											<el-option label="车型" value="1"></el-option>
											<el-option label="发动机" value="2"></el-option>
											<el-option label="其他" value="3"></el-option>
										</el-select>
									</el-form-item>
									</el-col>
									<el-col :span="12">
									<el-form-item label="请选择" :label-width="formLabelWidth">
										<el-select v-model="value11" placeholder="请选择维修类型">
											<el-option v-for="item  in xiala" :label="item.lable" :value="item.value">
											</el-option>
											
										</el-select>
									</el-form-item>
									</el-col>
									</el-row>
									<el-row>
										</el-col>
									<el-col :span="12">
									<el-form-item label="项目名称" :label-width="formLabelWidth">
										<el-input v-model="form.xmmingcheng" autocomplete="off"></el-input>
									</el-form-item>
									
										</el-col>
									<el-col :span="12">
									<el-form-item label="标准价" :label-width="formLabelWidth">
										<el-input v-model="form.xmbiaozhun" autocomplete="off"></el-input>
									</el-form-item>
									</el-col>
									</el-row>
								</el-form>
								<el-row>
									<el-col :span="8" :push="10">
									<el-button  @click="chickinsert()">新增</el-button>
									<el-button @click="dialogFormVisible = false">关闭</el-button>
									</el-col>
								</el-row>
							</el-dialog>
							
				<el-col :span="2" :push="3">
					<el-button>保存</el-button>
				</el-col>
				<el-col :span="2" :push="3">
					<el-button>导出</el-button>
				</el-col>
				<el-col :span="2" :push="3">	
					<el-button>关闭</el-button>
				</el-col>	
			</el-row></br>
			
					<template>
							<el-table :data="tableData.list"  style="width: 100%">
								<el-table-column prop="xmid" label="序号" width="70">
								</el-table-column>
								<el-table-column prop="xmleixing" label="维修类型">
								</el-table-column>
								<el-table-column prop="xmbianma" label="类型">
								</el-table-column>
								<el-table-column prop="xmmingcheng" label="项目名称">
								</el-table-column>
								
								<el-table-column prop="xmbiaozhun" label="标准价">
								</el-table-column>
								
								
								
								<el-table-column prop="xiugai" label="修改">
									<template slot-scope="scope">
       									<el-button  @click="update(scope.row)" icon="el-icon-edit" circle ></el-button>
       									
       									
       									<el-dialog title="项目修改" :visible.sync="dialogFormVisible1">
								<el-form :model="form1" :inline="true">
									<el-row>
										<el-col :span="12">
									<el-form-item label="维修类型" :label-width="formLabelWidth" >
										<el-select v-model="value1" placeholder="请选择维修类型" @change="changeone">
											<el-option label="车型" value="1"></el-option>
											<el-option label="发动机" value="2"></el-option>
											<el-option label="其他" value="3"></el-option>
										</el-select>
									</el-form-item>
									</el-col>
									<el-col :span="12">
									<el-form-item label="请选择" :label-width="formLabelWidth">
										<el-select v-model="value11" placeholder="请选择维修类型">
											<el-option v-for="item  in xiala" :label="item.lable" :value="item.value">
											</el-option>
											
										</el-select>
									</el-form-item>
									</el-col>
									</el-row>
									<el-row>
										</el-col>
									<el-col :span="12">
									<el-form-item label="项目名称" :label-width="formLabelWidth">
										<el-input v-model="form1.xmmingcheng" autocomplete="off"></el-input>
									</el-form-item>
									
										</el-col>
									<el-col :span="12">
									<el-form-item label="标准价" :label-width="formLabelWidth">
										<el-input v-model="form1.xmbiaozhun" autocomplete="off"></el-input>
									</el-form-item>
									</el-col>
									</el-row>
								</el-form>
								<div slot="footer" class="dialog-footer">
									<el-button  @click="chickupdate()">修改</el-button>
									<el-button @click="dialogFormVisible1 = false">关闭</el-button>
								</div>
							</el-dialog>
     								 </template>
								</el-table-column>
								<el-table-column prop="shanchu" label="删除">
									<template slot-scope="scope">
       									 <el-button  @click="chickdelete(scope.row)" icon="el-icon-delete" circle></el-button>
     								 </template>
								</el-table-column>
							</el-table>
						</template>
						<el-row>
							<el-col :span="3" :push="6">
								<el-button  @click="pageinfo(tableData.prePage,3)">上一页</el-button>
							</el-col>
							<el-col :span="3" :push="10">
								<el-button @click="pageinfo(tableData.nextPage,3)">下一页</el-button>							
							</el-col>
							
						</el-row>
						
				
		</el-col>
		</el-row>
		
		</div>
	</body>

	
	<script>
	var weixiu=new Vue({
			el:"#weixiushowapp",
			data:{
				neirong:'',
	        //新增模态框
				form: {
					xmleixing:'',
					xmbianma:'',
					xmmingcheng: '',
					xmbiaozhun: '',
				},
				formLabelWidth: '120px',
				dialogFormVisible: false,
				value1:'',
				value11:'',
				//修改模态框
				form1: {
					xmleixing:'',
					xmbianma:'',
					xmmingcheng: '',
					xmbiaozhun: '',
				},
				formLabelWidth1: '120px',
				dialogFormVisible1: false,
				//表格填数据
				 tableData: [],
				 //下拉列表框值
				 xiala:[],
				 xiala1:[]
				},
			 methods: {
	      handleNodeClick(data) { 
	        console.log(data);
	      },
	      pageinfo(page1,page2){			//分页方法
	      	let _this=this;
	      	var sousuo;
	      	if(this.neirong==""){
	      		sousuo="-1";	
	      	}else{
				sousuo=this.neirong;
	      	}
	      	axios.get(`http://127.0.0.1:8080/dzw_moblie/api/weixiu/aa/${page1}/${page2}/${sousuo}`).then(function(resp) {
							console.log("dkdkl"+resp.data);
							_this.tableData = resp.data;
					})
	      	},
	      	update(gai){					//点击修改图标		
	      		//alert(gai.xmmingcheng);
	      		this.dialogFormVisible1 = true;		//弹出模态框
	      		this.form1=gai;
	      	},
	      	chickupdate(){					//点击修改按钮
	      		let _this=this;
	      		dialogFormVisible = false ;
	      		if(this.value1=='1'){
	      			 this.$set(this.form1, 'cid', this.value11)
	      			 this.form1.xmleixing='车型';
	      			 this.$delete(this.form1,'fid')
	      		}else if(this.value1=='2'){
	      			this.$set(this.form1, 'fid', this.value11)
	      			this.form1.xmleixing='发动机';
	      			this.$delete(this.form1,'cid');
	      		}else{
	      			this.$delete(this.form1,'cid');
	      			this.$delete(this.form1,'fid');
	      			this.form1.xmleixing='其他';
	      		}
	      		for(var i=0;i<this.xiala.length;i++){
	      			if(this.value11==this.xiala[i].value){
	      				this.form1.xmbianma=this.xiala[i].lable;
	      				break;
	      			}
	      		}
	      		axios.put(`http://127.0.0.1:8080/dzw_moblie/api/weixiu/update`,_this.form1).then(function(resp) {
							console.log("11111"+resp.data);
							if(resp.data.code=="200"){
									_this.$message({
									message: '修改成功！',
									type: 'success'
								});
									_this.form1.xmleixing='';
									_this.pageinfo(1,3);
							}							
					})	      	
	      	},
	      	chickinsert(){				//新增
	      		let _this=this;
	      		if(this.value1=='1'){
	      			 this.$set(this.form, 'cid', this.value11)
	      			 this.form.xmleixing='车型';
	      			 this.$delete(this.form,'fid')
	      		}else if(this.value1=='2'){
	      			this.$set(this.form, 'fid', this.value11)
	      			this.form.xmleixing='发动机';
	      			this.$delete(this.form,'cid');
	      		}else{
	      			this.$delete(this.form,'cid');
	      			this.$delete(this.form,'fid');
	      			this.form.xmleixing='其他';
	      		}
	      		for(var i=0;i<this.xiala.length;i++){
	      			if(this.value11==this.xiala[i].value){
	      				this.form.xmbianma=this.xiala[i].lable;
	      				break;
	      			}
	      		}
	      		//添加属于类型类型
	      		dialogFormVisible = false ;
	      		axios.post(`http://127.0.0.1:8080/dzw_moblie/api/weixiu/insert`,_this.form).then(function(resp) {
								if(resp.data.code=="200"){
									_this.$message({
									message: '新增成功！',
									type: 'success'
								});
									_this.pageinfo(1,3);
							}							
					})	  
	      	},
	      	chickdelete(shan){			//删除
	      		alert(shan.xmid);
	      		let _this=this;
	      		axios.delete(`http://127.0.0.1:8080/dzw_moblie/api/weixiu/d/${shan.xmid}`).then(function(resp) {
								if(resp.data.code=="200"){
									_this.$message({
									message: '删除成功！',
									type: 'success'
								});
									_this.pageinfo(1,3);
							}							
					})  
	      	},
	      	changeone(){
	      		  // alert("值"+this.form.a);
	      		   let _this=this;
	      		   if(this.value1=="1"){
	      		   		axios.get(`http://127.0.0.1:8080/dzw_moblie/api/weixiu/kang`).then(function(resp) {	 
	      		   			_this.xiala=[];
							for(var i=0;i<resp.data.length;i++){						
								// alert(resp.data[i].motorcyclename);
								_this.xiala.push({
									//value:resp.data[i].motorcycleid,
									lable:resp.data[i].motorcyclename,
									value:resp.data[i].motorcycleid,
									
								})								
							}
							_this.value11=_this.xiala[0].value;		//新增的维修类型  下拉列表
						})
	      		   }
	      			if(this.value1=="2"){
	      		   		axios.get(`http://127.0.0.1:8080/dzw_moblie/api/weixiu/kang2`).then(function(resp) {	
	      		   			_this.xiala=[];
							for(var i=0;i<resp.data.length;i++){
								//alert(resp.data[i].enginename);
								_this.xiala.push({
									//value:resp.data[i].engineid,
									value:resp.data[i].engineid,
									lable:resp.data[i].enginename,
								})		
								
							}
							_this.value11=_this.xiala[0].value;		//新增的维修类型  下拉列表
					})
	      		 }else{
	      		 			this.xiala = [];
							this.form.xmleixing='其他';
	      		 }
	      		   
	      	},changeone1(){
	      		 //  alert("值"+this.form1.a);
	      		   let _this=this;
	      		   if(this.form1.a=="1"){
	      		   		axios.get(`http://127.0.0.1:8080/dzw_moblie/api/weixiu/kang`).then(function(resp) {	 
	      		   			_this.xiala1=[];
							for(var i=0;i<resp.data.length;i++){						
							//	 alert(resp.data[i].motorcyclename);
								_this.xiala1.push({
									//value:resp.data[i].motorcycleid,
									value:resp.data[i].motorcyclename,
									lable:resp.data[i].motorcyclename,
								})								
							}
							_this.form1.xmleixing=_this.xiala1[0].value;		//修改的维修类型  下拉列表
						})
	      		   }
	      			if(this.form1.a=="2"){
	      		   		axios.get(`http://127.0.0.1:8080/dzw_moblie/api/weixiu/kang2`).then(function(resp) {	
	      		   			_this.xiala1=[];
							for(var i=0;i<resp.data.length;i++){
							//	alert(resp.data[i].enginename);
								_this.xiala1.push({
									//value:resp.data[i].engineid,
									value:resp.data[i].enginename,
									lable:resp.data[i].enginename,
								})		
								
							}
							_this.form1.xmleixing=_this.xiala1[0].value;		//修改的维修类型  下拉列表
					})
	      		 }else{
	      		 			this.xiala1 = [];
							this.form1.xmleixing='其他';
	      		 }
	      		   
	      	}
	      	
	   		},
	   		mounted(){	      	   
	   			this.pageinfo(1,3);
	   			
	   		}
		})
	</script>

</html>