<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="/dzw_mobiles/js/vue.js"></script>
		<script type="text/javascript" src="/dzw_mobiles/js/index.js"></script>
		<link rel="stylesheet" href="/dzw_mobiles/css/index.css" />
	</head>

	<body>
		<div id="instationmaintainapp">
			<el-row>
				<el-col :span="5">
					<h1>站内维修</h1>
				</el-col>
				<el-col :span="14" :push="4">
					<el-button type="primary" @click="weixiushow">添加维修项目</el-button>
					<el-button type="success" @click="fanggong">生成维修单据</el-button>
					<el-button type="primary" @click="maintaincarshow(1)">维修车辆信息</el-button>
					<el-button type="primary" @click="teamshow">添加技工</el-button>
					<el-tag v-for="(item,index) in teamtechniciantwos" :key="item.mename" closable @close="deletejigong(index)">
						{{item.mename}}
					</el-tag>
				</el-col>
			</el-row>
			<el-row>
				<el-form ref="form" label-width="80px">
					<el-row>
						<el-col :span="6">
							<el-form-item label="车牌号">
								<el-select filterable v-model="value" placeholder="请选择" @change="chepaichange">
									<el-option v-for="(item,index) in vehicle" :key="index" :label="item.vlicense" :value="index">
									</el-option>
								</el-select>
							</el-form-item>
						</el-col>

					</el-row>
					<el-row>
						<el-col :span="6">
							<el-form-item label="车辆品牌">
								<el-input v-model="addmaintaincar.vehiclebrand"></el-input>
							</el-form-item>
						</el-col>

						<el-col :span="6">
							<el-form-item label="驾驶员">
								<el-input v-model="addmaintaincar.drivername"></el-input>
							</el-form-item>
						</el-col>
						<el-col :span="6">
							<el-form-item label="联系电话">
								<el-input v-model="addmaintaincar.maintainphone"></el-input>
							</el-form-item>
						</el-col>
						<el-col :span="6">
							<el-form-item label="维修备注">
								<el-input v-model="addmaintaincar.beizhu"></el-input>
							</el-form-item>
						</el-col>

					</el-row>
					<el-drawer :visible.sync="table" direction="rtl" size="60%" title="维修车辆信息">
						<el-col :span="5">
							<h3>站内维修车辆信息</h3>
						</el-col>
						<el-col :span="10" :push="4">
							<template>
								<el-select v-model="maintainreceiptsvalues" placeholder="请选择" @change="selectchange">
									<el-option v-for="item in maintainreceipts" :key="item.receiptsid" :label="item.receiptsname" :value="item.receiptsid">
									</el-option>
								</el-select>
							</template>
						</el-col>
						<el-table :data="maintaincars" max-height="250" highlight-current-row @current-change="maintaincarschangge">
							<el-table-column property="maintaindate" label="序号" width="140" align="center"></el-table-column>
							<el-table-column property="licence" label="车牌号" width="140" align="center"></el-table-column>
							<el-table-column property="drivername" label="驾驶员" width="140" align="center"></el-table-column>
							<el-table-column property="maintainphone" label="联系电话" width="140" align="center"></el-table-column>
							<el-table-column property="vehiclebrand" label="车辆品牌" width="140" align="center"></el-table-column>
							<el-table-column property="vehiclemodel" label="车辆型号" width="140" align="center"></el-table-column>
							<el-table-column property="maintainmoney" label="维修金额" fixed="right" width="120" align="center"></el-table-column>
							<el-table-column property="maintaindate" label="单据时间" align="center" fixed="right" width="120"></el-table-column>
							<el-table-column property="accomplishdate" label="完成时间" fixed="right" width="100" align="center"></el-table-column>
							<el-table-column label="操作" fixed="right" align="center">
								<template slot-scope="scope">
									<el-button size="mini" round @click="jungong(scope.row.maintainid)">完成</el-button>
								</template>
							</el-table-column>
						</el-table>
						<el-row>
							<el-col :span="5">
								<h3>车辆维修项目详情</h3>
							</el-col>
						</el-row>
						<el-table :data="weixius">
							<el-table-column property="" label="序号"></el-table-column>
							<el-table-column property="xmmingcheng" label="项目名称"></el-table-column>
							<el-table-column property="xmshoujia" label="售价类型"></el-table-column>
							<el-table-column property="xmbiaozhun" label="标准价"></el-table-column>
							<el-table-column property="xmhuiyuan" label="会员价"></el-table-column>

						</el-table>
					</el-drawer>
				</el-form>
			</el-row>
			<el-row>
				<template>
					<el-table :data="addweixiu" style="width: 100%" show-summary>
						<el-table-column prop="" label="序号">
						</el-table-column>
						<el-table-column prop="xmmingcheng" label="维修项目">
						</el-table-column>
						<el-table-column prop="xmbiaozhun" label="维修价格">
						</el-table-column>
						<el-table-column prop="xmhuiyuan" label="会员价">
						</el-table-column>
						<el-table-column label="操作">
							<template slot-scope="scope">
								<el-button type="danger" icon="el-icon-delete" circle @click="deleteclickweixiu(scope.$index)"></el-button>
							</template>
						</el-table-column>
					</el-table>
				</template>
			</el-row>
			<br />

			<el-dialog title="维修项目" :visible.sync="dialogTableVisible">
				<el-row>
					<el-col :span="20" :push="4">
						<el-tag v-for="(item,index) in addweixiu" :key="item.xmmingcheng" closable @close="deleteweixiu(index)">
							{{item.xmmingcheng}}
						</el-tag>
					</el-col>
				</el-row>
				<el-row>
					<el-col>
						<el-form ref="form" :inline="true" label-width="80px">
							<el-form-item label="选择类型">
								<el-select v-model="region" placeholder="请选择活动区域" @change="weixiuchange">
									<el-option label="车型" value="1"></el-option>
									<el-option label="发动机" value="2"></el-option>
									<el-option label="其他" value="3"></el-option>
								</el-select>
							</el-form-item>
							<el-form-item label="请选择">
								<el-select v-model="weixiuxiangmutwovalue" placeholder="请选择活动区域" @change="weixiuchangetwo">
									<el-option v-for="item in weixiuxiangmutwo" :key="item.value" :label="item.label" :value="item.value">
									</el-option>

								</el-select>
							</el-form-item>
						</el-form>
					</el-col>
				</el-row>
				<el-row>
					<el-table :data="weixiu">
						<el-table-column property="xmmingcheng" label="序号"></el-table-column>
						<el-table-column property="xmmingcheng" label="维修项目"></el-table-column>
						<el-table-column property="xmbiaozhun" label="价格"></el-table-column>
						<el-table-column label="操作">
							<template slot-scope="scope">
								<el-button size="mini" round @click="clickweixiu(scope.row,1)">选中</el-button>
								<el-button size="mini" round @click="clickweixiu(scope.row,2)">0元</el-button>
							</template>
						</el-table-column>
					</el-table>
				</el-row>
				<br />
				<el-row>
					<el-col :span="5" :push="10">
						<el-button type="success" round>确定维修项目</el-button>
					</el-col>
				</el-row>
			</el-dialog>
			<el-dialog title="技工选择" :visible.sync="dialogVisibletwo" width="50%">
				<el-row>
					<el-col :span="20" :push="4">
						<el-tag v-for="(item,index) in teamtechniciantwos" :key="item.mename" closable @close="deletejigong(index)">
							{{item.mename}}
						</el-tag>
					</el-col>
				</el-row>
				<el-row>
					<el-col :span="5">
						<el-tree :data="data" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
					</el-col>
					<el-col :span="19">

						<el-table :data="teamtechnicians" style="width: 100%">
							<el-table-column prop="mename" label="姓名">
							</el-table-column>
							<el-table-column prop="b" label="工时">
							</el-table-column>
							<el-table-column prop="tename" label="班组名">
							</el-table-column>
							<el-table-column prop="starrating" label="星级">
							</el-table-column>
							<el-table-column prop="mesex" label="性别">
							</el-table-column>
							<el-table-column prop="mephone" label="手机号">
							</el-table-column>
							<el-table-column label="操作">
								<template slot-scope="scope">
									<el-button size="mini" round @click="clickjigong(scope.row)">选中</el-button>
								</template>
							</el-table-column>
						</el-table>

					</el-col>
				</el-row>
				<br />
				<el-row>
					<el-col :span="10" :push="11">
						<el-button @click="dialogVisible = false">取 消</el-button>
						<el-button type="primary" @click="dialogVisible = false">确 定</el-button>
					</el-col>
				</el-row>
			</el-dialog>
		</div>
	</body>
	<script type="text/javascript " src="/dzw_mobiles/js/jquery-1.12.4.js "></script>
	<script type="text/javascript " src="/dzw_mobiles/js/jq_ajax_config.js "></script>
	<script type="text/javascript " src="/dzw_mobiles/js/axios.min.js "></script>
	<script type="text/javascript " src="/dzw_mobiles/js/axios_cfg.js "></script>
	<script>
		var instationmaintainapp = new Vue({
			el: "#instationmaintainapp",
			data: {
				//车辆品牌对象
				value: '',
				vehicle: [],
				//维修单数组
				weixiu: [],
				//维修单
				maintaincar: {
					licence: '', //车辆品牌
					//技工编号
					teamid: '', //技工id
					vehiclebrand: '', //车辆品牌
					drivername: '', //驾驶员
					maintainphone: '', //联系电话
					beizhu: '', //备注
				},
				//维修项目模态框
				dialogTableVisible: false,
				//抽屉属性
				table: false,
				dialog: false,
				//维修车辆信息数组
				maintaincars: [],
				weixius: [],
				//维修表数据源
				maintainreceipts: [],
				//维修状态下拉框
				maintainreceiptsvalues: '',
				//技工选择模态框
				dialogVisibletwo: false,
				//技工树状图
				data: [],
				defaultProps: {
					children: 'children',
					label: 'text'
				},
				//技工查询条件
				teamid: 0,
				meid: 0,
				//技工数据源
				teamtechnicians: [],
				//技工数据源2
				teamtechniciantwos: [],
				//维修下拉框
				region: '1',
				//维修类型2数组
				weixiuxiangmutwo: [],
				weixiuxiangmutwovalue: '',
				//新增的维修表数据源
				addweixiu: [],
				//生成维修表数据源对象
				addmaintaincar: {
					receiptsid: 1, //维修状态
					departdate: '', //开单时间
					maintainvehicleid: 0, //车辆id
					inside: 1, //占内
					beizhu: '', //维修备注
					maintainmoney: 0, //维修金额
					drivername: '', //驾驶员
					maintainphone: '', //；联系电话
					licence: '', //车牌号
					vehiclebrand: '', //车辆品牌
					vehiclemodel: '', //车辆型号
					carownername: '', //车主名
					carid: 0, //车主id
					maintaindate: '', //单据日期
					maintaincarxiangmus: [], //维修项目集合
					teamtechniciantwos: [], //维修技工集合
					maintainling: 1
				}

			},
			methods: {
				//获得当前日期，时间
				getdata(aa) { //定义函数show
					var d = new Date();
					var y = d.getFullYear();
					var m = d.getMonth() + 1;
					var dd = d.getDate();
					var h = d.getHours();
					var mm = d.getMinutes();
					var s = d.getSeconds();
					var t = y + "-" + m + "-" + dd + " " + h + ":" + mm + ":" + s;
					var t2 = y + "-" + m + "-" + dd;
					if(aa == 1) {
						return t;
					} else {
						return t2;
					}
				},
				//返工数更新
				fanggong() {
					if(this.addweixiu.length == 0) {
						this.$message({
							message: '请选着维修项目',
							type: 'warning'
						});
						return;
					}
					if(this.teamtechniciantwos.length == 0) {
						this.$message({
							message: '请选着维修技工',
							type: 'warning'
						});
						return;
					}
					//判断是否返工车辆
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/flows/flow/maintainling/${instationmaintainapp.addmaintaincar.licence}`).then(function(res) {
						if(res.data != "") {
							//新增
							res.data.maintainling = res.data.maintainling + res.data.maintainling;
							res.data.maintaincarxiangmus = instationmaintainapp.addweixiu;
							res.data.teamtechniciantwos = instationmaintainapp.teamtechniciantwos;
							res.data.departdate = instationmaintainapp.getdata(1);
							res.data.maintaindate = instationmaintainapp.getdata(2);
							for(var i = 0; i < instationmaintainapp.addmaintaincar.maintaincarxiangmus.length; i++) {
								res.data.maintainmoney += instationmaintainapp.addmaintaincar.maintaincarxiangmus[i].xmbiaozhun;

							}
							axios.post(`http://127.0.0.1:8080/dzw_moblie/api/flows/flow/maintainling`, res.data).then(function(res) {
								if(res.data.code == "200") {
									instationmaintainapp.$message({message:'返工数据添加成功',type: 'success'});
									//清空
									instationmaintainapp.loadchepai();
									instationmaintainapp.addmaintaincar = {};
									instationmaintainapp.addweixiu = [];
									instationmaintainapp.teamtechniciantwos = [];
								}
							})
						} else {
							instationmaintainapp.addweixiudanju();
						}

					})

				},
				//生成维修单据
				addweixiudanju() {
					if(this.addweixiu.length == 0) {
						this.$message({
							message: '请选着维修项目',
							type: 'success'
						});
						return;
					}
					if(this.teamtechniciantwos.length == 0) {
						this.$message({
							message: '请选着维修技工',
							type: 'success'
						});
						return;
					}
					this.addmaintaincar.maintainmoney = 0;
					this.addmaintaincar.maintaincarxiangmus = this.addweixiu;
					this.addmaintaincar.teamtechniciantwos = this.teamtechniciantwos;
					this.addmaintaincar.departdate = this.getdata(1);
					this.addmaintaincar.maintaindate = this.getdata(2);
					for(var i = 0; i < this.addmaintaincar.maintaincarxiangmus.length; i++) {
						this.addmaintaincar.maintainmoney += this.addmaintaincar.maintaincarxiangmus[i].xmbiaozhun;
					}
					//新增方法
					axios.post(`http://127.0.0.1:8080/dzw_moblie/api/flows/flow`, instationmaintainapp.addmaintaincar).then(function(res) {
						if(res.data.code == "200") {
							instationmaintainapp.$message({message:'新增维修单成功',type: 'success'});
							//清空
							instationmaintainapp.loadchepai();
							instationmaintainapp.addmaintaincar = {};
							instationmaintainapp.addweixiu = [];
							instationmaintainapp.teamtechniciantwos = [];
						}
					})
				},
				//下拉框改变
				chepaichange() {
					this.addmaintaincar.maintainvehicleid = this.vehicle[this.value].vid;
					this.addmaintaincar.drivername = this.vehicle[this.value].vdriver;
					this.addmaintaincar.maintainphone = this.vehicle[this.value].vphone;
					this.addmaintaincar.licence = this.vehicle[this.value].vlicense;
					this.addmaintaincar.vehiclebrand = this.vehicle[this.value].vbrand;
					this.addmaintaincar.vehiclemodel = this.vehicle[this.value].vmodelid;
					this.addmaintaincar.carid = this.vehicle[this.value].cid;

				},
				//维修模态框
				weixiushow() {
					this.weixiuchange();
					this.dialogTableVisible = true;
				},
				//打开抽屉
				maintaincarshow(maintainreceiptsid) {
					
					//加载维修车辆信息
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/maintaincars/maintaincar/${maintainreceiptsid}/1`).then(function(res) {
						instationmaintainapp.maintaincars = res.data;
					})
					if(this.table==false){
						this.maintainreceiptsvalues=this.maintainreceipts[0].receiptsid;
					}
					this.table = true;
				},
				//维修项目详情
				maintaincarschangge(currentRow, oldCurrentRow) {
					if(this.maintaincars.length == 0) {
						return;
					}
					//id查询所有项目
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/maintaincars/maintaincarxiangmu/${currentRow.maintainid}`).then(function(res) {
						instationmaintainapp.weixius = res.data;
						//判断是否返工
						if(this.maintainreceiptsvalues == '4') {
							instationmaintainapp.maintaincar = currentRow;
						}

					})

				},
				//修理完成,修改状态
				jungong(maintainid) {
					//alert(maintainid)
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/maintaincars/maintaincarupdate/${maintainid}/2`).then(function(res) {
						if(res.data.code = "200") {
							instationmaintainapp.$message({
								message: '竣工完成',
								type: 'success'
							});
							//加载维修车辆信息
							instationmaintainapp.weixius = [];
							instationmaintainapp.maintaincarshow(1);
						} else {
							instationmaintainapp.$message.error('竣工失败');
						}

					})
				},
				//下拉框改变
				selectchange() {
					this.maintaincarshow(this.maintainreceiptsvalues);
				},
				//技工模态框
				teamshow() {
					//加载树控件
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/flows/flow/gettree`).then(function(res) {
						instationmaintainapp.data = res.data;
					})
					this.dialogVisibletwo = true;
				},
				//选中子节点时回调函数，查询技工
				handleNodeClick(tree, node, c) {
					if(node.level === 2) {
						this.meid = tree.mechanicstar.meid;
						this.teamid = node.parent.data.team.teamid
						//查询
						axios.get(`http://127.0.0.1:8080/dzw_moblie/api/flows/flow/${instationmaintainapp.teamid}/${instationmaintainapp.meid}`).then(function(res) {
							instationmaintainapp.teamtechnicians = res.data;
						})
					}
				},
				//选择技工
				clickjigong(teamtechniciantwo) {
					//巡皇判断是否选中过
					for(var i = 0; i < this.teamtechniciantwos.length; i++) {
						if(this.teamtechniciantwos[i].mename == teamtechniciantwo.mename) {
							instationmaintainapp.$message.error('已选该技工，请勿重复选中');
							return;
						}
					}
					//添加技工
					this.teamtechniciantwos.push(teamtechniciantwo);
				},
				//移除
				deletejigong(index) {
					this.teamtechniciantwos.splice(index, 1);
				},
				//维修下拉框改变事件
				weixiuchange() {
					if(this.region == '1') {
						axios.get(`http://127.0.0.1:8080/dzw_moblie/api/flows/flow/motorcycle`).then(function(res) {
							instationmaintainapp.weixiuxiangmutwo = [];
							for(var i = 0; i < res.data.length; i++) {
								instationmaintainapp.weixiuxiangmutwo.push({
									value: res.data[i].motorcycleid,
									label: res.data[i].motorcyclename
								});
							}
							instationmaintainapp.weixiuxiangmutwovalue = res.data[0].motorcycleid;
							instationmaintainapp.weixiuchangetwo();
						})
					} else if(this.region == '2') {
						axios.get(`http://127.0.0.1:8080/dzw_moblie/api/flows/flow/engine`).then(function(res) {
							instationmaintainapp.weixiuxiangmutwo = [];
							for(var i = 0; i < res.data.length; i++) {
								instationmaintainapp.weixiuxiangmutwo.push({
									value: res.data[i].engineid,
									label: res.data[i].enginename
								});
							}
							instationmaintainapp.weixiuxiangmutwovalue = res.data[0].engineid;
							instationmaintainapp.weixiuchangetwo();
						})
					} else {
						//查询车型发动机为空的维修项目，禁用下拉框
						axios.get(`http://127.0.0.1:8080/dzw_moblie/api/flows/flow/weixiunull`).then(function(res) {
							instationmaintainapp.weixiuxiangmutwo = [];
							instationmaintainapp.weixiuxiangmutwovalue = '';
							instationmaintainapp.weixiu = res.data;
						})
					}

				},
				//维修下拉框2改变事件，加载维修项目
				weixiuchangetwo() {
					if(this.region == '1') {
						axios.get(`http://127.0.0.1:8080/dzw_moblie/api/flows/flow/weixiucid/${instationmaintainapp.weixiuxiangmutwovalue}`).then(function(res) {
							instationmaintainapp.weixiu = res.data;
						})
					} else {
						axios.get(`http://127.0.0.1:8080/dzw_moblie/api/flows/flow/weixiufid/${instationmaintainapp.weixiuxiangmutwovalue}`).then(function(res) {
							instationmaintainapp.weixiu = res.data;
						})
					}

				},
				//删除维修项目
				deleteweixiu(index) {
					this.addweixiu.splice(index, 1);
				},
				//删除新增维修项目
				deleteclickweixiu(index) {
					this.addweixiu.splice(index, 1);
				},
				//添加维修表
				clickweixiu(weixiu, p) {
					//巡皇判断是否选中过
					for(var i = 0; i < this.addweixiu.length; i++) {
						if(this.addweixiu[i].xmmingcheng == weixiu.xmmingcheng) {
							instationmaintainapp.$message.error('已选中该维修项目，请勿重复选中');
							return;
						}
					}
					if(p == 2) {
						weixiu.xmbiaozhun = 0;
						weixiu.XMhuiyuan = 0;
					}
					//添加技工
					this.addweixiu.push(weixiu);
				},
				loadjungong() {
					//加载竣工数据
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/maintaincars/maintainreceipts`).then(function(res) {
						instationmaintainapp.maintainreceipts = res.data;
						instationmaintainapp.maintainreceiptsvalues = instationmaintainapp.maintainreceipts[0].receiptsid;
					})
				},
				//加载车牌
				loadchepai() {
					axios.get(`http://127.0.0.1:8080/dzw_moblie/api/flows/flow/vehicle`).then(function(res) {
						instationmaintainapp.vehicle = res.data;
					})
				},

			},
			mounted: function() {
				this.loadjungong();
				this.loadchepai();
			}

		})
	</script>

</html>