<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="/dzw_mobiles/js/commitjs.js" ></script>
		<style type="text/css">
			span{
				color: #000000;
			}
			.el-main {
				color: #333;
				padding: 0px;
			}
			
		</style>
		
	</head>
	
	<body>
		<div id="maintainapp" >
			<el-row>
				<div style="background-color: whitesmoke; height: 650px;">
				<el-col>
					<el-menu  default-active="2" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" background-color="whitesmoke" text-color="#fff" active-text-color="#ffd04b">
						<el-submenu :index=`${index}` v-for="(item,index) in trees">
							<template slot="title" >
								<i class="el-icon-location"></i>
								<span>{{item.text}}</span>
							</template>
							<el-menu-item-group>
								<el-menu-item :index=`${index}-${index2}` v-for="(item2,index2) in item.children" @click="menuclick(item2.text,item2.id,item2.id)"><span>{{item2.text}}</span></el-menu-item>
							</el-menu-item-group>
						</el-submenu>

					</el-menu>
				</el-col>
				</div>
			</el-row>
		</div>
	</body>
	
</html>