<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="/dzw_mobiles/js/commitjs.js" ></script>
	</head>
	
	<body>
		<div id="maintainapp" >
			<el-row>
				<el-col>
					<el-menu style="height: 550px;" default-active="2" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
						
						<el-submenu :index=`${index}` v-for="(item,index) in trees" v-if="item.text=='维修救援' ">
							<template slot="title" >
								<i class="el-icon-location"></i>
								<span>{{item.text}}</span>
							</template>
							<el-menu-item-group>
								<el-menu-item :index=`${index}-${index2}` v-for="(item2,index2) in item.children" @click="menuclick(item2.text,item2.id,item2.id)">{{item2.text}}</el-menu-item>
							</el-menu-item-group>
						</el-submenu>

					</el-menu>
				</el-col>
				
			</el-row>
		</div>
	</body>
	
</html>