<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<script type="text/javascript" src="/dzw_mobiles/js/vue.js"></script>
		<script type="text/javascript" src="/dzw_mobiles/js/index.js"></script>
		<link rel="stylesheet" href="/dzw_mobiles/css/index.css" />
	</head>

	<body>
		<div id="seomaintainapp">
			
		</div>
	</body>
	<script type="text/javascript " src="/dzw_mobiles/js/jquery-1.12.4.js "></script>
	<script type="text/javascript " src="/dzw_mobiles/js/jq_ajax_config.js "></script>
	<script type="text/javascript " src="/dzw_mobiles/js/axios.min.js "></script>
	<script type="text/javascript " src="/dzw_mobiles/js/axios_cfg.js "></script>
	<script>
		var seomaintainvue=new Vue({
			el:"#seomaintainapp",
			data:{
				
			},
		})
	</script>

</html>